<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1>Stupid Coaching</h1>
    <br>
    <h4> <strong>Question to the coach:</strong> </h4>
    <p> <%= @question %> </p>
    <br>
    <h4> <strong>Answer of the coach: </strong> </h4>
    <p> <%= @answer %> </p>

  <%= link_to "Ask another question", ask_path %>
</div>
